body {
	font-family: 'Darker Grotesque', sans-serif;
	text-align: center;
}


h1 {
	font-size : 32px;
	color: white;
	padding-left:50px
}

h2 {
	font-size : 30px;
	color: #333334
}

h3 {
	font-size : 12px;
	color: white
}

p {
	font-size : 22px;
	color: #333334;
	line-height:30px;
}

img {
	height : 100px ;
	position:center;
}

a {
	text-decoration: none;
	color: white;
	font-size: 24px;
	background-color: #CC0000;
	padding: 15px;
	border-radius: 10px;
}

#banner {
	background-image : url(images/banner.png);
	color:white;
	padding:150px 0px;
	background-size:cover;
	text-align: left;
}


#CTA a:hover {
	background-color:grey;
	color:white;
}

#sale, #flyers, #heart-shape {
	height:50px;
}

#concept {
	padding: 20px;
	margin:20px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin-top: 20px;
	line-height: 20px
}

#footer {
	padding: 10px;
	margin:20px;
	background-color: #333334;
}
.footer h3 {
	color:white;
	font-size:15px;

}

.footer h2 {
	color:white;
	font-size:20px;

}

#Avantages {
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	background-color: #FDF6EB;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
	margin-bottom:2px;
	margin-right: 50px;
	margin-left:50px;
}

#temoignage p{
	width:20px;
	margin: 60px auto
	line-height:1px;
}

#appstore, #android {
	height:40px;
}

@media (max-width: 760px) {
	.container{
		width:600px;
	}
}

@media (max-width: 600px) {
	.container{
		width:400px;
	}
}

